body{

    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
    border: 50px solid white;

}
.container{
    text-align: center;
}
h1{
    margin-bottom: 20px;
}

.color-box{
    margin: 20px auto;
    padding: 20px 40px;
    border-radius: 10px;
    background: #000000;
    color: #fff;
    font-size: 24px;
    transition: background-color 0.3s ease;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #e1e28f;
    color: #383838;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #a3a71a;
}